#login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/basicloginimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
  }

  .form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    z-index: 2;
    @include card-gradient($color-blue-light, $color-blue-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    form {
      width: 100%;
      .input-login {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(232, 232, 232, 0.5);
        border-radius: 5px;
        padding: 20px;
        gap: 10px;

        h3 {
          margin-left: 0;
          margin-right: auto;
        }

        p {
          width: 100%;
          text-align: center;
        }

        .underline {
          color: red;
          cursor: pointer;
        }
      }
    }

    .image-firm {
      width: 100%;
      img {
        width: 100%;
        border-radius: 8px;
        height: auto;
      }
    }
  }
}

// DESKTOP DESIGN
@media (min-width: 768px) {
  #login-form .form-area {
    flex-direction: row;
    height: 470px;
    gap: 60px;

    form {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .image-firm {
      width: 50%;
      height: 70%;

      img {
        height: 100%;
      }
    }
  }
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #58a8c8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #468dc7;
}

p {
  font-size: 14px;
}

p[style='color: red'] {
  color: red;
}

p[style='color: green'] {
  color: green;
}
